@import 'src/style/_vars.scss';

.skills-container {
  text-align: center;
  padding-left: 19em;
}


p {
  background-color: $color-orange;
  display: inline;
  height: 150px;
  width: 250px;
  margin: 50px;
  padding-top: 40px;
  padding-left: 50px;
  text-align: center;
}
