@import 'src/style/_vars.scss';

.skills-container {
  text-align: center;
  padding-left: 19em;
}

h2 {
  font-size: 3em;
  font-family: 'Vidaloka', serif;
  text-align: center;
  padding-top: 2em;
  margin-bottom: 20px;
}

p {
  padding: 50px;
  display: inline-block;
  margin-left: 35px;
}

.box {
  background-color: orange;
  height: 200px;
  width: 300px;
  display: inline-block;
  float: left;
}
