
.img-container {
  height: 18em;
  margin-left: 19em;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,f2c354+56,f46a07+100 */
  background-color: #fcfcfc; /* Old browsers */
  // background-color: -moz-linear-gradient(top, #fcfcfc 0%, #f2c354 56%, #f46a07 100%); /* FF3.6-15 */
  // background-color: -webkit-linear-gradient(top, #fcfcfc 0%,#f2c354 56%,#f46a07 100%); /* Chrome10-25,Safari5.1-6 */
  // background-color: linear-gradient(to bottom, #fcfcfc 0%,#f2c354 56%,#f46a07 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

// #hero {
//   height: 960;
//   width: 40 em;
//   margin: 0 auto;
// }
