.img-container {
  margin: 0 auto;
  height: 410px;
  width: 500px;
  position: relative;
}

img {
  height: 400px;
  width: auto;
  background-color: yellow;
  z-index: 999;
  margin: 0 12em;
}

#title {
  z-index: 9999;
  color: white;
  position: absolute;
  font-size: 3em;
  font-family: 'Vidaloka', serif;
}
