// .home-container {
//   background-image: url('../imgs/pattern.png');
//   background-repeat: repeat-x;
//   background-size: auto;
// }

.box {
  width: 20em;
  height: 30em;
  background-color: orange;
}
